header{
  background-position: top center;
  background-color: #F73AD0;
  margin:0;
  border: 2px solid black;
}

body{
  color: purple;
  background-color: FFFFF0;
}

h1{
  font-family: "Arial", Bold;
  font-size:30pt;
  font-color: gray;
}

#logo {
 width: 100px;
 height: 100px;
 float: left;
 margin-right: 10px;
}

