header{
  background-position: top center;
  background-color: #F73AD0;
  margin:0;
  border: 2px solid black;
  text-align:center;
}

nav{
  max-width: 960px;
  text-align:center;
  font-size:18pt;
  floath:both;
  background-position: top center;
  background-color: #B53104;
  border:2px solid black;
}

body{
  margin:0;
  color: purple;
  background-color: #FFFFF0;
}

h1{
  font-family: "Arial", Bold;
  font-size:30pt;
  font-color: gray;
}

#weight{
 max-width: 960px; 
}

#logo {
 width: 50px;
 height: 50px;
 float: left;
 margin: 10px;
 border: 1px solid gray;
}

tr#chet{
 background-color: lightblue;
}

tr#nechet{
  background-color: lightgray;
}  

footer{
  background-position: bottom center;
  background-color: black;
  font-color:white;
  font-size:24pt;
  text-align:left;
  margin:0;
}
